*.pi
*.pyc
/.settings
/.project
/.pydevproject
/git-svn_authors.txt
/mayaCmdsList*.bin
*.egg-info
/build
/dist
/extras/completion
._*
*.tmproj
*~
/maintenance/release
/docs/build
/docs/source/generated
