*.pi
*.pyc
/.idea
/.settings
/.project
/.pydevproject
/git-svn_authors.txt
/mayaCmdsList*.bin
*.egg-info
/build
/dist
/extras/completion
._*
*.tmproj
*~
/maintenance/release
/maintenance/CHANGELOG.temp
get-pip.py
/docs/build
/docs/stubs
/docs/theme-examples
/docs/source/generated
/docs/source/whats_new.rst
pymelTestOut.txt
